body {
    margin: 2em;
}

table {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.bold {
    font-weight: 600;
}

.tit {
    font-weight: 600;
    text-align: center;
}