body {
display: flex;
flex-direction: column;
}

h6 {
    text-align: center;
    height: 0;

}

table {
    width: 80vw;
    margin: auto;
    border-collapse: collapse;
    border: 3px double grey;
    font-weight: 600;

}

.celda-1{
    background-color: rgb(102, 223, 108);
    text-align: center;
}

.celda-2 {
    background-color: aqua;
}

.celda-6 {
    background-color: rgb(226, 169, 214);
    text-align: end;
    vertical-align: bottom;
}

.celda-7, .celda-4 {
    text-align: center;
}

.celda-3, .celda-5, .celda-8 {
    text-align: center;
    color: red;
}

td {
    border-collapse: collapse;
    border: 3px double grey;
}